.a#logojade {
    width: 100% !important;
    height: 100% !important;
}



html,
body {
    width: 100%;
    height: 100%;
}

.bg-dark,
.navbar-dark,
.fixed-bottom {
    background-color: grey !important;
    /* color: #0e1302; */
}

.navbar-dark,
.navbar-nav,
.nav-link,
.navbar-toggler {
    color: white !important;
    font-size: 1.3rem;
}

.navbar-toggler-icon {
    width: 1em;
    height: 1em;
}

/* .slogan {
    margin: 0.5rem 0 0.5rem 0;
    color: rgb(3, 46, 3);
} */

/* #mdpo {
    text-align: center !important;
} */

/* .recherche {
    background-color: #BD3030;
    padding: 5%;
} */

/* #carouselExampleInterval {
    margin: 2% 0 2% 0;
    padding-left: 0;
    padding-right: 0;
} */

/* figcaption {
    margin-top: 3%;
} */

/* span.reservation {
    color: red;
} */

/* a.reservation {
    color: green;
} */

.footer {
    height: 40px !important;
    width: 100% !important;
     /* margin: 0.5rem 0 0.5rem 0;
    color: black;
    font-size: 0.8rem;
    height: 50px !important; */

}

.details{
    margin-bottom: 12%;
}

a {
    text-decoration: none;
}

.admin .tableauDeBord {
    font-size: 100%;
    background-color: blue;
    text-align: center;

}

.utilisateurs {
    padding-left: calc(var(--bs-gutter-x) *2) !important;
}
.motdepasse p {
    width: 100%;
    margin-left: 50%;
    text-align: left;
    text-align: center !important;
    margin-top: 20px;

}

.cara p {
    width: 100%;
    margin-left: 50%;
    text-align: left;
    text-align: center !important;
    margin-top: 30px;

}

div.dashboard p {
    padding: 7%;
    margin-top: 20%;
}

div.bouton.visual {
    font-size: 100%;
    text-align: center;
    padding: 4%;
    margin-top: 10% !important;
    background-color: green;
}

div.bouton.add {

    font-size: 100%;
    text-align: center;
    padding: 4%;
    margin-top: 10% !important;
    background-color: yellow;

}

div.bouton.modify {

    font-size: 100%;
    text-align: center;
    padding: 4%;
    margin-top: 10% !important;
    background-color: orange;
}

div.bouton.del {

    font-size: 100%;
    text-align: center;
    padding: 3%;
    margin-top: 10% !important;
    margin-bottom: 10% !important;
    background-color: red;
}



@media screen and (orientation: landscape) {
    .logo {
        width: 20% !important;
    }

    .navbar-toggler-icon {
        width: 1.8em;
        height: 1.8em;
    }

    .recherche {
        width: 70%;
        padding: 3%;
    }

    .photo-dh {
        width: 70%;
    }
}

@media(min-width:768px) {
    .logo {
        width: 20% !important;
    }

    .navbar-toggler-icon {
        width: 1.8em;
        height: 1.8em;
    }

    .recherche {
        width: 70%;
        padding: 3%;
    }

@media(min-width:992px) {}

@media(min-width:1200px) {}