#intro {
    background-image: url(img/coutureciseauximage.jpg);
    height: 100vh;
  }

   /* Height for devices larger than 400px (de 340px à 740px) */

   @media (min-width: 340px) and (max-width: 740px) {
    #intro {
      margin-top: -50.50px;
    }

    
  .navbar .nav-link {
    color: #fff !important;
  }

  #navbarToggleExternalContent3 {
    position: fixed;
    margin-top: 4.9% !important;
    margin-left: 25% !important;
    
  }

 
  #burgpanier {
    color: black
  }

  #burgaccueil {
    color: black
    
  }

  #burgcompte {
    color: black
  }


  #yout {
    background-color: black;
    color: red
  }

  #git {
      background-color: black;
  }

  #face {
      background-color: #3b5998;
  }

  #twitt {
      background-color: #00acee;
  }
}

#Copyright {
 text-align: center !important;
}

 /* Height for devices larger than 768px (entre 750 et 1000px) */

 @media (min-width: 750px) and (max-width: 1000px) {
  #intro {
    margin-top: -58.59px;
  }

  .navbar .nav-link {
    color: #fff !important;
  }

  #burgpanier {
    color: black
  }

  #burgaccueil {
    color: black
    
  }

  #burgcompte {
    color: black
  }

  #yout {
    background-color: black;
    color: red
  }

  #git {
      background-color: black;
  }

  #face {
      background-color: #3b5998;
  }

  #twitt {
      background-color: #00acee;
  }


}


  /* Height for devices larger than 576px (plus que 572px) */
  @media (min-width: 1024px) {
    #intro {
      margin-top: -58.59px;
    }
  

  .navbar .nav-link {
    color: #fff !important;
  }

  #yout {
    background-color: black;
    color: red
  }

  #git {
      background-color: black;
  }

  #face {
      background-color: #3b5998;
  }

  #twitt {
      background-color: #00acee;
  }
}

 #Copyright {
   margin-right: 46.5% !important;
 }