#intro {
  background-image: url(img/coutureciseauximage.jpg);
  height: 100vh;
}

/* Height for devices larger than 400px (de 340px à 740px) */

@media (min-width: 340px) and (max-width: 740px) {
  #intro {
    margin-top: -50.50px;
  }


  .navbar .nav-link {
    color: #fff !important;
  }

  #navbarToggleExternalContent3 {
    position: fixed;
    margin-top: 4.9% !important;
    margin-left: 25% !important;

  }


  #burgpanier {
    color: black
  }

  #burgaccueil {
    color: black
  }

  #burgcompte {
    color: black
  }

  #burgproduits {
    color: black;
  }

  #parentscollat {
    display: none;
  }

  #yout {
    background-color: black;
    color: red
  }

  #git {
    background-color: black;
  }

  #face {
    background-color: #3b5998;
  }

  #twitt {
    background-color: #00acee;
  }

  #Copyright {
    margin-right: 33% !important;
  }
}


/* Height for devices larger than 768px (entre 750 et 1000px) */

@media (min-width: 750px) and (max-width: 1000px) {
  /* header {
    width: 100%;
    padding: 0%;
    margin: 0%;
  } */
  
  #intro {
    margin-top: -58.59px;
  }

  .navbar .nav-link {
    color: #fff !important;
  }

  #burgpanier {
    color: black
  }

  #burgaccueil {
    color: black
  }

  #burgcompte {
    color: black
  }

  #burgproduits {
    color: black;
  }

  #parentscollat {
    display: none;
  }

  #yout {
    background-color: black;
    color: red
  }

  #git {
    background-color: black;
  }

  #face {
    background-color: #3b5998;
  }

  #twitt {
    background-color: #00acee;
  }

  #Copyright {
    margin-right: 40.5% !important;
  }


}


/* Height for devices larger than 576px (plus que 1001px) */
@media (min-width: 1001px) {
  #intro {
    margin-top: -58.59px;
  }


  .navbar .nav-link {
    color: #fff !important;
  }

  #gridimg {

    display: flex;
    box-sizing: border-box;
    margin: 0;
    padding-left: 0;
    align-items: stretch;
    width: 100%;
   


  }

  #parentscollat {
    position: sticky;
    top: 0;
    height: 100vmax;
    width: 250px;
    margin-left: 0;
    margin-top: 0;
    background-color: #4F4F4F;
  }

  #collat {
    position: sticky;
    top: 0;
    width: 250px;
    margin-left: 0;
    margin-top: 0;
    background-color: #4F4F4F;

  }

  input {
    width: 100%;
    align-items: center;
    border-radius: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #titre {
    text-align: center !important;
    color: white;
  }

  #produits {
    
    text-align: center !important;
    color: white;
  }

  #yout {
    background-color: black;
    color: red
  }

  #git {
    background-color: black;
  }

  #face {
    background-color: #3b5998;
  }

  #twitt {
    background-color: #00acee;
  }


  #Copyright {
    margin-right: 46.5% !important;
  }

}