* {
    box-sizing: border-box;

    img {
        margin: 0%;
        width: 100%;
    }

    a {
        text-decoration: none;
    }

    p {
        margin: 0%;
    }

    h1,
    h2 {
        color: #4C98CC;
        font-family: 'Prompt', sans-serif;
    }
}

@media (min-width: 360px) and (max-width: 800px) {

    body {
        margin: 0%;
        padding: 0%;
        font-family: 'EB Garamond', sans-serif;



        // Header

        .nav {
            background-color: #d6d1d1;
            height: 15vh;

            .navbar {
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 15vh;



                .logocodes {
                    display: flex;
                    flex-direction: column;
                    margin-left: 10px;


                    .logocode {
                        width: 35px;
                        height: 35px;

                    }
                }

                .logocentre {
                    width: 150px;
                    height: 55px;

                    #monlogo {
                        width: 100%;
                        margin: auto;
                        height: 100%;
                    }
                }

                #burger {
                    width: 30px;
                    height: 20px;
                    cursor: pointer;


                    #iconeburger {
                        width: 100%;
                        height: 100%;
                    }
                }

                .liste {
                    display: none;
                    z-index: 10000;
                    position: absolute;
                    list-style: none;
                    margin: 0%;
                    padding: 0%;
                    left: 0%;
                    right: 0%;
                    top: 15vh;

                    a {
                        color: black;
                    }

                }
            }
        }

        // Header
        // Main
        main {
            .section1 {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                margin-top: 5%;
                margin-left: 5%;
                margin-bottom: 5%;

                .textillus {
                    grid-column-start: 1;
                    grid-column-end: 3;
                }

                .blockwp {
                    div {
                        display: flex;
                        align-items: center;
                        justify-content: space-around;

                    }

                    #logowp {
                        width: 40px;
                        height: 40px;
                    }

                    #titrecms {
                        font-style: italic;
                        font-family: 'Prompt', sans-serif;
                        color: #4C98CC;
                        font-size: 1em;
                    }

                    #lettre2cms {
                        font-size: 2rem;
                    }

                    #fincms {
                        font-size: 0.8em;
                        color: black;
                    }
                }
            }

            .section2 {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                margin-top: 5%;
                margin-left: 5%;
                margin-bottom: 5%;

                .textillus {
                    grid-column-start: 1;
                    grid-column-end: 3;
                }


                #titredesign {
                    font-style: italic;
                    text-align: center;
                    font-family: 'Prompt', sans-serif;
                    color: #4C98CC;
                    font-size: 1.1em;

                    #lettre2design {
                        font-size: 2rem;
                    }

                    #findesign {
                        color: black;
                    }
                }
            }

            .section3 {

                #titrerea {
                    font-style: italic;
                    text-align: center;
                    font-family: 'Prompt', sans-serif;
                    color: #4C98CC;
                    background-color: #d6d1d1;

                    #lettre2rea {
                        font-size: 2rem;
                    }

                    #finrea {
                        color: black;
                    }
                }
            }

            .card {
                text-align: center;
                padding: 10px;
                margin: 5px;
                height: 60vh;
                background-color: #d6d1d1;
                border: solid 3px #4C98CC;

                #acs {
                    width: 100%;
                }

                .imgcard {
                    margin: auto;
                    width: 80%;

                    img {
                        width: 100%;
                    }
                }

                .fincard {
                    color: black;
                }
            }

            .section1comp {

                #titrecomp {
                    font-style: italic;
                    text-align: center;
                    font-family: 'Prompt', sans-serif;
                    color: #4C98CC;
                    background-color: #d6d1d1;


                    #lettre2comp {
                        font-size: 2rem;
                    }

                    #fincomp {
                        color: black;
                    }
                }
            }

            .section2comp {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                margin: 10px;
                justify-content: center;
                align-items: center;


                .plan {
                    width: 120px !important;
                    margin: 0% !important;

                    .imgcomp {
                        width: 100% !important;

                    }

                }



                .titres {

                    text-align: center;

                    #titrecrea {
                        font-style: italic;
                        text-align: center;
                        font-family: 'Prompt', sans-serif;
                        color: #4C98CC;

                        #lettre1crea {
                            font-family: 'Prompt', sans-serif;
                            font-style: italic;
                            font-size: 2rem;
                        }


                        #lettre2crea {
                            font-style: italic;
                            font-family: 'Prompt', sans-serif;
                            color: #4C98CC;
                        }

                        #lettre3crea {
                            font-family: 'Prompt', sans-serif;
                            font-style: italic;
                            font-size: 2rem;
                        }

                        #fincrea {
                            font-family: 'Prompt', sans-serif;
                            color: black;
                        }
                    }
                }
            }

            .texteilluscrea {
                margin: 8px;
            }

            .section3choixc {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                margin: 10px;
                justify-content: center;
                align-items: center;

                .couleurs {
                    width: 120px !important;
                    margin: 0% !important;

                    .imgcouleurs {
                        width: 100% !important;

                    }

                }

                #titrechoixc {
                    font-style: italic;
                    text-align: center;
                    font-family: 'Prompt', sans-serif;
                    color: #4C98CC;

                    #lettre1choix {
                        font-family: 'Prompt', sans-serif;
                        font-style: italic;
                        font-size: 2rem;
                    }


                    #lettre2choix {
                        font-style: italic;
                        font-family: 'Prompt', sans-serif;
                        color: #4C98CC;
                    }

                    #lettre3choix {
                        font-family: 'Prompt', sans-serif;
                        font-style: italic;
                        font-size: 2rem;
                    }

                    #finchoix {
                        font-family: 'Prompt', sans-serif;
                        color: black;
                    }
                }
            }

            .texteilluschoix {
                margin: 8px;
            }

            .section4crealogo {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                margin: 10px;
                justify-content: center;
                align-items: center;


                .logo {
                    width: 120px !important;
                    margin: 0% !important;

                    .imglogo {
                        width: 100% !important;

                    }

                }



                .titres {

                    text-align: center;

                    #titrecrealogo {
                        font-style: italic;
                        text-align: center;
                        font-family: 'Prompt', sans-serif;
                        color: #4C98CC;

                        #lettre1crealogo {
                            font-family: 'Prompt', sans-serif;
                            font-style: italic;
                            font-size: 2rem;
                        }


                        #lettre2crealogo {
                            font-style: italic;
                            font-family: 'Prompt', sans-serif;
                            color: #4C98CC;
                        }

                        #lettre3crealogo {
                            font-family: 'Prompt', sans-serif;
                            font-style: italic;
                            font-size: 2rem;
                        }

                        #fincrealogo {
                            font-family: 'Prompt', sans-serif;
                            color: black;
                        }
                    }
                }
            }

            .texteilluscrealogo {
                margin: 8px;
            }

            .texteillusoptiref {
                margin-top: 8px;
                margin-left: 8px;
                margin-right: 8px;
                margin-bottom: 30px;
            }
        }

        // Main
        // Footer
        .foot {
            margin: 0%;
            padding: 0%;
            width: 100%;


            .imgfoot {
                margin: 0%;
                padding: 0%;
                width: 100%;

                #imagefooter {
                    margin: 0%;
                    padding: 0%;
                    width: 100%;


                }
            }
        }

        // Footer
    }

    // body
}


@media (min-width: 801px) and (max-width: 1200px) {

    body {
        margin: 0%;
        padding: 0%;
        font-family: 'EB Garamond', sans-serif;

        // Header

        .nav {
            background-color: #d6d1d1;
            height: 15vh;

            .navbar {
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 15vh;



                .logocodes {
                    display: flex;
                    flex-direction: column;
                    margin-left: 10px;


                    .logocode {
                        width: 50px;
                        height: 50px;

                    }
                }

                .logocentre {
                    width: 210px;
                    height: 70px;

                    #monlogo {
                        width: 100%;
                        margin: auto;
                        height: 100%;
                    }
                }

                #burger {
                    width: 10%;
                    height: 100%;
                    cursor: pointer;
                    // position: relative;


                    #iconeburger {
                        width: 100%;
                        height: 100%;
                        // position: absolute;
                        // top: 3% !important;


                    }
                }

                .liste {
                    display: none;
                    z-index: 10000;
                    position: absolute;
                    list-style: none;
                    margin: 0%;
                    padding: 0%;
                    left: 0%;
                    right: 0%;
                    top: 15vh;

                    a {
                        color: black;
                    }

                }
            }
        }

        // Header
        // Main
        main {
            .section1 {
                position: relative;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                margin-top: 5%;
                margin-left: 5%;
                margin-bottom: 5%;

                .textillus {
                    position: absolute;
                    top: 35%;
                    margin: 10px;
                    grid-column-start: 2;
                    grid-column-end: 3;
                }

                .blockwp {
                    div {
                        width: 80%;
                        height: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: space-around;

                    }

                    #logowp {
                        width: 40px;
                        height: 40px;
                    }

                    #titrecms {
                        font-style: italic;
                        font-family: 'Prompt', sans-serif;
                        color: #4C98CC;
                        font-size: 1em;
                    }

                    #lettre2cms {
                        font-size: 2rem;
                    }

                    #fincms {
                        font-size: 0.8em;
                        color: black;
                    }
                }
            }

            .section2 {
                position: relative;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                margin-top: 5%;
                margin-left: 5%;

                .textillus {
                    position: absolute;
                    top: 25%;
                    margin: 10px;
                    grid-column-start: 2;
                    grid-column-end: 3;
                }


                #titredesign {
                    font-style: italic;
                    text-align: center;
                    font-family: 'Prompt', sans-serif;
                    color: #4C98CC;
                    font-size: 1.1em;

                    #lettre2design {
                        font-size: 2rem;
                    }

                    #findesign {
                        color: black;
                    }
                }
            }

            .section3 {
                padding: 20px;

                #titrerea {
                    margin-top: 30px;
                    margin-bottom: 30px;
                    font-style: italic;
                    text-align: center;
                    font-family: 'Prompt', sans-serif;
                    color: #4C98CC;
                    background-color: #d6d1d1;

                    #lettre2rea {
                        font-size: 2rem;
                    }

                    #finrea {
                        color: black;
                    }
                }




                .card {
                    text-align: center;
                    margin-bottom: 20px;
                    padding: 10px;

                    height: 60vh;
                    background-color: #d6d1d1;
                    border: solid 3px #4C98CC;

                    #acs {
                        width: 100%;
                    }

                    .imgcard {
                        margin: auto;
                        width: 80%;

                        img {
                            width: 100%;
                        }
                    }

                    .fincard {
                        color: black;
                    }
                }
            }
        }

        // Main
        // Footer
        .foot {
            background-image: url("../Image/footer.svg");
            margin: 0%;
            padding: 0%;

            .imgfoot {

                #imagefooter {
                    margin: 0%;
                    padding: 0%;
                    width: 100%;
                }
            }
        }

        // Footer
    }

    // body
}

@media (min-width: 1201px) {

    body {
        margin: 0%;
        padding: 0%;
        font-family: 'EB Garamond', sans-serif;

        // Header

        .nav {
            background-color: #d6d1d1;
            height: 15vh;

            .navbar {
                // display: flex;
                // justify-content: center;
                // gap: 400px;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                justify-content: center;
                align-items: center;
                height: 15vh;


                .logocodes {
                    width: 50%;
                    display: block;
                    margin: auto;
                    align-items: center;


                    .logocode {
                        margin-left: 20px;
                        margin-right: 20px;
                        width: 50px;
                        height: 50px;

                    }
                }

                .logocentre {


                    #monlogo {
                        display: block;
                        width: 30%;
                        margin: auto;
                    }
                }

                #burger {
                    display: none !important;

                }

                .liste {
                    width: 100%;
                    display: flex;
                    gap: 35px;
                    list-style: none;
                    margin: 0%;
                    padding: 0%;

                    a {
                        color: black;
                    }

                }
            }
        }

        // Header
        // Main
        main {
            .texte {
                font-size: 1.5em;
            }

            .section1 {
                position: relative;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                margin-top: 5%;
                margin-left: 5%;
                margin-bottom: 5%;

                .textillus {
                    position: absolute;
                    top: 35%;
                    margin: 10px;
                    grid-column-start: 2;
                    grid-column-end: 3;
                }

                .blockwp {
                    div {
                        width: 100%;
                        height: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: space-around;

                    }

                    #logowp {
                        width: 200px;
                        height: 200px;
                    }

                    #titrecms {

                        font-style: italic;
                        font-family: 'Prompt', sans-serif;
                        color: #4C98CC;
                        font-size: 4em;
                    }

                    #lettre2cms {
                        font-size: 5rem;
                    }

                    #fincms {
                        font-size: 0.8em;
                        color: black;
                    }
                }
            }

            .section2 {
                position: relative;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                margin-top: 5%;
                margin-left: 5%;

                .textillus {
                    position: absolute;
                    top: 25%;
                    margin: 10px;
                    grid-column-start: 2;
                    grid-column-end: 3;
                }


                #titredesign {
                    font-style: italic;
                    text-align: center;
                    font-family: 'Prompt', sans-serif;
                    color: #4C98CC;
                    font-size: 4em;

                    #lettre2design {
                        font-size: 5rem;
                    }

                    #findesign {
                        font-size: 0.8em;
                        color: black;
                    }
                }
            }

            .section3 {
                padding: 5px;

                #titrerea {
                    margin-top: 30px;
                    margin-bottom: 30px;
                    font-style: italic;
                    text-align: center;
                    font-family: 'Prompt', sans-serif;
                    color: #4C98CC;
                    background-color: #d6d1d1;
                    font-size: 2.5em;

                    #lettre2rea {
                        font-size: 3em;
                    }

                    #finrea {
                        color: black;
                    }
                }




                .card {
                    text-align: center;
                    margin-bottom: 20px;
                    padding: 20px;
                    background-color: #d6d1d1;
                    border: solid 3px #4C98CC;

                    #acs {
                        width: 100%;
                    }

                    .imgcard {
                        margin: auto;
                        width: 80%;

                        img {
                            width: 100%;
                        }
                    }

                    .fincard {
                        color: black;
                    }
                }
            }
        }

        // Main
        // Footer
        .foot {
            background-image: url("../Image/footer.svg");
            margin: 0%;
            padding: 0%;

            .imgfoot {

                #imagefooter {
                    margin: 0%;
                    padding: 0%;
                    width: 100%;
                }
            }
        }

        // Footer
    }

    // body
}