* {
    box-sizing: border-box;

    img {
        margin: 0%;
    }

    a {
        text-decoration: none;
    }
}

@media (min-width: 360px) and (max-width: 800px) {

    body {
        margin: 0%;
        padding: 0%;
        font-family: 'Prompt', sans-serif;



        .nav {
            background-color: #d6d1d1;
            height: 15vh;

            .navbar {
                display: flex;
                height: 15vh;



                .logocodes {
                    display: flex;
                    flex-direction: column;
                    margin-left: 10px;


                    .logocode {
                        width: 35px;
                        height: 35px;
                    }
                }

                .logocentre {
                   
                    width: 200px;
                    height: 200px;

                    #monlogo {
                        width: 50%;
                        height: 50%;
                    }
                }

            }

            .burger {
                list-style: none;

                a {
                    color: black;
                }
            }
        }
    }

    #titrecms {
        font-family: 'EB Garamond', sans-serif;
        color: #4C98CC;

        #lettre2cms {
            font-size: 2rem;
        }

        #fincms {
            color: black;
        }
    }

    #titredesign {
        font-family: 'EB Garamond', serif;
        color: #4C98CC;
    }

    #titrerea {
        font-family: 'EB Garamond', sans-serif;
        color: #4C98CC;
    }

    .foot {
        margin: 0%;

        .imgfoot {

            #imagefooter {
                margin: 0%;
                width: 100%;
            }
        }
    }
}


@media (min-width: 801px) and (max-width: 1200px) {}