*{
    box-sizing: border-box;
}

@media (min-width: 360px) and (max-width: 800px){

body{
    margin: 0%;
    padding: 0%;
    


.nav{
    background-color: #d6d1d1;
}

.foot{
    margin: 0%;

    .imgfoot{

        #imagefooter{
            margin: 0%;
            width: 100%;
        }
    }
}
}
}

@media (min-width: 801px) and (max-width: 1200px){

}