* {
    box-sizing: border-box;
}

body {
    
}

a {
    text-decoration: none;
}

/* Height for devices larger jusqu'à 759px */

@media (max-width: 759px) {


    body {
        
    }

    #navbarToggleExternalContent3 {
        z-index: 1000;
        position: fixed;
        margin-top: 4.9% !important;
        margin-left: 2.5rem !important;
        margin-right: 2.5rem !important;
        background-color: white;

    }

    #navbarToggleExternalContent3 a {
        color: black;

    }

    .bg-light button {
        text-decoration: none;
        color: black;
    }

    .navbar .nav-link {
        color: #fff !important;

    }

    .btn {

        color: black;
        text-decoration: none !important;
    }


    #yout {
        background-color: black;
        color: red
    }

    #face {
        background-color: #3b5998;
    }

    #twitt {
        background-color: #00acee;
    }



    #parentscollat {
        display: none;
    }

    #Copyright {
        margin-right: 33% !important;
    }

}



/* Height for devices larger than 768px */

@media (min-width: 760px) and (max-width: 899px) {

    *{
        box-sizing: border-box;
    }

    body {
        width: 100%;
    }

    .navbar .nav-link {
        color: #fff !important;
    }

    #navbarToggleExternalContent3 {
        z-index: 1000;
        position: fixed;
        margin-top: 4.9% !important;
        margin-left: 25% !important;
        background-color: white;

    }

    .btn {

        color: black;
        text-decoration: none !important;
    }


    .navbar .nav-link {
        color: #fff !important;

    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 ;
        width: 100%;
        /* height: 30vh; */
       
    }

    .inputs{
        width: 35%;
        height: 100%; 
        border-radius: 5%;
        border: 2px solid chocolate;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 40%;
        padding: 10%;
     
    }

    .login{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    input{
        border: 2px solid  chocolate ;
    }

    button{
        
        border-radius: 5%;
    }

   .valider{
       margin-top: 10px;
   }

   .mpoublié{
        margin-top: 10px;
   }

    #yout {
        background-color: black;
        color: red
    }

    #git {
        background-color: black;
    }

    #face {
        background-color: #3b5998;
    }

    #twitt {
        background-color: #00acee;
    }

    #Copyright {
        margin-right: 40.5% !important;
    }


}


/* Height for devices larger than 900px */
@media (min-width: 900px) {

    *{
        box-sizing: border-box;
        
        
    }

    body {
        width: 100%;
    }

    .navbar .nav-link {
        color: #fff !important;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 ;
        width: 100%;
        height: 50vh;
       
    }

    .inputs{
        width: 30%;
        height: 100%;
        border-radius: 5%;
        border: 2px solid chocolate;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 5%;
        padding: 20px;
        
    }

    .login{
        width: 100%;
        margin: 0;
    }

    input{
        border: 2px solid  chocolate ;
    }

    button{
        box-shadow: 5px 2px 3px chocolate;
        border-radius: 15%;
    }

   .valider{
       margin-top: 10px;
   }

   .mpoublié{
        margin-top: 10px;
   }
   

    #yout {
        background-color: black;
        color: red
    }

    #git {
        background-color: black;
    }

    #face {
        background-color: #3b5998;
    }

    #twitt {
        background-color: #00acee;
    }


    #Copyright {
        margin-right: 46.5% !important;
    }

}