main{
    width: 80%;
    margin: auto;
}

.diapo{
    overflow: hidden;
    position: relative;
    
}

.diapo img{
    width: 100% !important;
    
}

.elements{
    display: flex;
    transition: transform .5s;
}

.element{
    flex: 1 0 100%;
    position: relative;
    
}

.element > img{
    width: 100%;

}

#gauche, #droite{
    position: absolute;
    top: 60%;
    left: 0;
    transform: translateY(-50%);
    color: chocolate;
    font-size: 5rem;
    cursor: pointer;
}

#droite{
    left: unset;
    right: 0;
}