main{
    width: 80%;
    margin: auto;
}

main h1{
    margin: 0;
}
.diapo{
    overflow: hidden;
    position: relative;
    
}

.diapo img{
    width: 100% !important;
    
}

.elements{
    display: flex;
    transition: transform .5s;
}

.element{
    flex: 1 0 100%;
    position: relative;
}

.element > img{
    width: 100%;
}

.texte{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: rgba(255,255,255, .4);
    text-align: center;
}

#gauche, #droite{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: white;
    font-size: 3rem;
    cursor: pointer;
}

#droite{
    left: unset;
    right: 0;
}