#intro {
    height: 100vh;
}

body {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* Height for devices larger than 400px (moins que 350px) */

@media (min-width: 350px) {
    body {
        box-sizing: border-box;
    }

    #intro {
        margin-top: -50.50px;
    }

    #navbarToggleExternalContent3 {
        z-index: 1000;
        position: fixed;
        margin-top: 4.9% !important;
        margin-left: 2.5rem !important;
        margin-right: 2.5rem !important;
        background-color: white;

    }

    #navbarToggleExternalContent3 a {
        color: black;

    }

    .bg-light button {
        text-decoration: none;
        color: black;
    }

    .btn {

        color: black;
        text-decoration: none !important;
    }



    .navbar .nav-link {
        color: #fff !important;

    }

    .btn {

        color: black;
        text-decoration: none !important;
    }


    .diapo h1 {
        margin-top: 20% !important;
        margin: 10%;
        color: chocolate;
    }

    .description {
        text-align: center;
        color: chocolate;
    }

    #yout {
        background-color: black;
        color: red
    }

    #face {
        background-color: #3b5998;
    }

    #twitt {
        background-color: #00acee;
    }



    #parentscollat {
        display: none;
    }

    #Copyright {
        margin-right: 33% !important;
    }

}



/* Height for devices larger than 768px */

@media (min-width: 750px) {

    body {
        box-sizing: border-box;
    }

    #intro {
        margin-top: -58.59px;

    }

    .navbar .nav-link {
        color: #fff !important;
    }

    #navbarToggleExternalContent3 {
        z-index: 1000;
        position: fixed;
        margin-top: 4.9% !important;
        margin-left: 25% !important;
        background-color: white;

    }

    .btn {

        color: black;
        text-decoration: none !important;
    }


    .navbar .nav-link {
        color: #fff !important;

    }

    .diapo h1 {
        margin-top: 20% !important;
        margin: 10%;
        color: chocolate;
    }

    .description {
        text-align: center;
        color: chocolate;
    }


    #parentscollat {
        display: none;
    }

    #yout {
        background-color: black;
        color: red
    }

    #git {
        background-color: black;
    }

    #face {
        background-color: #3b5998;
    }

    #twitt {
        background-color: #00acee;
    }

    #Copyright {
        margin-right: 40.5% !important;
    }


}


/* Height for devices larger than 576px */
@media (min-width: 992px) {
    body {
        box-sizing: border-box;
    }


    #intro {
        margin-top: -58.59px;
        position: sticky;
    }

    .navbar .nav-link {
        color: #fff !important;
    }

    .titreindex {
        margin-top: 0% !important;
        margin-bottom: 10%;
        display: flex;
        justify-content: center;
    }

    .description h2 {
        font-size: 2.5rem;
        color: chocolate;
        display: flex;
        justify-content: center;
        margin: 5%;
    }

    .description p {
        color: chocolate;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
    }



    #grid {

        display: flex;
        box-sizing: border-box;
        margin: 0;
        padding-left: 0;
        align-items: stretch;
        width: 100%;



    }

    #parentscollat {
        position: sticky;
        top: 0;
        height: 100vmax;
        width: 250px;
        margin-left: 0;
        margin-top: 0;
        background-color: #4F4F4F;
    }

    #collat {
        position: sticky;
        top: 0;
        width: 250px;
        margin-left: 0;
        margin-top: 0;
        background-color: #4F4F4F;

    }

    input {
        width: 100%;
        align-items: center;
        border-radius: 20px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #titre {
        text-align: center !important;
        color: white;
        margin: 10%;
    }

    #produits {
        margin: 15% !important;
        text-align: center !important;
        color: white;
    }

    #yout {
        background-color: black;
        color: red
    }

    #git {
        background-color: black;
    }

    #face {
        background-color: #3b5998;
    }

    #twitt {
        background-color: #00acee;
    }


    #Copyright {
        margin-right: 46.5% !important;
    }

}